<%= render partial: "shared/header"%>
<div class="contents-row">
  <div class="container">
    <%= form_with model: [@album, @diary], url: album_diaries_path(@album.id),id: 'new_diary', local: true do |f| %>
     <%= render 'shared/error_messages', model: f.object %>

      <div class="time">
        <%= f.label :"日時" %><br />
        <%= f.datetime_select :start_time %>
      </div>

      <div class="weather">
        <%= f.label :"天気" %><br />
        <%= f.collection_select(:weather_id, Weather.all, :id, :name,{}, {class:"weather-select"})%>
      </div>

      <div id="previews"></div>
      
      <div class="image">
        <%= f.label :"画像" %><br />
        <%= f.file_field :image %>
      </div>

      <div class="title">
        <%= f.label :"タイトル" %><br />
        <%= f.text_field :title, size: 50  %>
      </div>

      <div class="content">
        <%= f.label :"出来事" %><br />
        <%= f.text_area :content, size: "60x10", class: "content-area" %>
      </div>

      <div class="place">
        <%= f.label :"場所" %><br />
        <%= f.text_field :place %>
      </div>

      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>

      <div class="submit">
        <%= f.submit "keep this memory" %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/footer" %>