<div class="contents-row">
  <div class="container">
    <%= form_with model: [@album, @diary], url: album_diaries_path(@album.id), local: true do |f| %>

      <div class="time">
        <%= f.label :date %><br />
        <%= f.datetime_select :start_time %>
      </div>

      <div class="weather">
        <%= f.label :weather_id %><br />
        <%= f.collection_select(:weather_id, Weather.all, :id, :name,{}, {class:"weather-select"})%>
      </div>

      <div class="image">
        <%= f.label :image %><br />
        <%= f.file_field :image %>
      </div>

      <div class="title">
        <%= f.label :title %><br />
        <%= f.text_field :title, size: 50  %>
      </div>

      <div class="content">
        <%= f.label :content %><br />
        <%= f.text_area :content, size: "60x10", class: "content-area" %>
      </div>

      <div class="place">
        <%= f.label :place %><br />
        <%= f.text_field :place %>
      </div>

      <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>

      <div class="submit">
        <%= f.submit "keep this memory" %>
      </div>
    <% end %>
  </div>
</div>