<div class="album-header">
  <div class="left-header">
    <div class="header-title">
      <%= @album.name %>
    </div>
    <div class="album-edit">
      <%= link_to "編集", edit_album_path(@album.id) %>
      <%= link_to "削除", album_path(@album.id), method: :delete %>
    </div>
  </div>
  <div class="search-field">
    <%= form_with(url: search_album_diaries_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="right-header">
    <div class="header-button">
     <%= link_to 'アルバムを閉じる', albums_path(@album) %>
    </div>
  </div>
</div>

<div class="album-content">
  <%= month_calendar events: @diaries do |date, diaries| %>
    <%= date.day %>
     <%= render partial: 'shared/diary', collection: diaries %>
   <% end %>
</div>

<div class="diary">
  <div class="new-diary"> 
    <%= link_to "Make memory", new_album_diary_path %>
  </div>
</div>