<%= render partial: "shared/header"%>
<div class='album-form'>
   <div class="album-new">
    <%=form_with(model: @album, url: album_path, method: :patch, local: true) do |f|%>
      <%= render 'shared/error_messages', model: f.object %>

      <div class='album-form__field'>

        <div class='album-form__field--left'>
          <div class="album-form__label">
            <%= f.label :name, :アルバム名, class: 'album-label'%>
          </div>
          
           <div class="album-form_name">
            <%= f.text_field :name, class: 'album_name album-form__input', placeholder: 'アルバム名を入力してください'%>
            <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
          </div>
        </div>

      </div>
    
        <div class='album-form__field-btn'>
          <%= f.submit class: 'album-form__action-btn'%>
        </div>
    <% end %>
  </div>
</div>

<%= render partial: "shared/footer" %>