<%= render partial: "shared/header"%>

<div class='album-form'>
  
  <div class="album-new">new Album</div>
   
  <%=form_with model: @album, local: true do |f|%>

  <%= render 'shared/error_messages', model: f.object %>

    <div class='album-form__field'>
      <div class='album-form__field--left'>
        <%= f.label :name, :アルバム名, class: 'album-form__label'%><br />
        <%= f.text_field :name, class: 'album_name album-form__input', placeholder: 'アルバム名を入力してください'%>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
      </div>
    </div>

      <div class='album-form__field--right'>
        <%= f.submit class: 'album-form__action-btn'%>
      </div>
   
  <% end %>
</div>

<%= render partial: "shared/footer" %>